// Vendor
@import "_normalize.scss";
@import "jquery-jvectormap-1.2.2.scss";
@import "bootstrap.scss";
@import "flat-ui.scss";

@mixin rounder-corners {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

// Map
#world-map {
  display: block;
  @include rounder-corners;
}

// Map Amends
.jvectormap-zoomin,
.jvectormap-zoomout {
  width: 20px;
  height: 20px;
}
.jvectormap-zoomout {top: 40px;}


// Nav

nav{
  padding-top: 47px;
}
// Custom Modal
.popup{
  width: 400px;
  background: #34495E;
  padding: 20px;
  color: #fff;
  @include rounder-corners;
}