// MIXINS 
@mixin rounder-corners {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

// HEADER 
.stats{padding-top: 37px;}
#myChart {margin-top: 12px;}
.page-header a{
  color: #2c3e50;
  &:hover{text-decoration: none;color: #18bc9c;}
}


// Map
#world-map {
  display: block;
  @include rounder-corners;
  position: relative;
  margin-bottom: 40px;
}

// Map Label
.jvectormap-label {
  position: absolute;
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #2c3e50;
  color: white;
  font-family: sans-serif, Verdana;
  font-size: smaller;
  padding: 3px 6px;
}

// Buttons
.jvectormap-zoomin,
.jvectormap-zoomout,
.reset {
  position: absolute;
  left: 10px;
  top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #2c3e50;
  color: #fff;
  cursor: pointer;
  line-height: 15px;
  font-size: 15px;
  padding: 1px 4px 2px 4px;
  text-align: center;
  &:hover{background: #18bc9c;color: #fff;text-decoration: none;}
  }

.jvectormap-zoomout {top: 40px;}

.reset{left: auto;right: 10px;z-index: 999;}

// Legend
#legend.panel {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 20px;
  width: 200px;
}


// Hide Country info Panel
#country-details{display: none;}

// Visited Button Position
.panel-heading {
  h3, a.btn {margin: 0;}
  h3{margin-top: 7px;}
}


// FOOTER
footer{
  margin-top: 40px;
  padding: 40px 0;
  border-top: 1px solid #ecf0f1;
}